# 시리즈 만들기

In [4]:
import pandas as pd
s = pd.Series(['banana',42])
print(s)

0    banana
1        42
dtype: object

In [5]:
s = pd.Series(['banana',42],index = ['name','num'])
print(s)

name    banana
num         42
dtype: object

# 데이터프레임 만들기

In [8]:
scientists = pd.DataFrame({
    'Name' : ['Rosaline Franklin','William Gosset'],
    'Occupation':['Chemist','Statistician'],
    "Born": ['1920-07-25','1876-07-05']
})

scientists

                Name    Occupation        Born
0  Rosaline Franklin       Chemist  1920-07-25
1     William Gosset  Statistician  1876-07-05

In [11]:
scientists = pd.DataFrame(
    data={
    'Name' : ['Rosaline Franklin','William Gosset'],
    'Occupation':['Chemist','Statistician'],
    "Born": ['1920-07-25','1876-07-05']
},
    index = ['Rosaline Fr','William'],
    columns = ['Name','Occupation',"Born"]
)

scientists

                          Name    Occupation        Born
Rosaline Fr  Rosaline Franklin       Chemist  1920-07-25
William         William Gosset  Statistician  1876-07-05

In [16]:
from collections import OrderedDict
scientists = pd.DataFrame(
    OrderedDict([
    ('Name', ['Rosaline Franklin','William Gosset']),
    ('Occupation',['Chemist','Statistician']),
    ("Born",['1920-07-25','1876-07-05'])
    ]
)
)
scientists

                Name    Occupation        Born
0  Rosaline Franklin       Chemist  1920-07-25
1     William Gosset  Statistician  1876-07-05

# 데이터프레임에서 시리즈 선택하기

In [18]:
scientists = pd.DataFrame(
    data={'Occupation': ['Chemist', 'Statistician'], 
          'Born': ['1920-07-25', '1876-06-13'], 
          'Died': ['1958-04-16', '1937-10-16'],
          'Age': [37, 61]},
    index=['Rosaline Franklin', 'William Gosset'],
    columns=['Occupation', 'Born', 'Died', 'Age']) 

first_row = scientists.loc['William Gosset',]
print(first_row)

Occupation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object

In [19]:
print(type(first_row))

<class 'pandas.core.series.Series'>

# index, values, keys 사용하기

In [20]:
print(first_row.index)

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [22]:
print(first_row.values)

['Statistician' '1876-06-13' '1937-10-16' 61]

In [24]:
print(first_row.keys())

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [25]:
print(first_row.index[0])

Occupation

In [27]:
print(first_row.keys()[0])

Occupation

# 시리즈의 mean, min, max, std 메서드 사용하기

In [32]:
print(scientists['Age'])

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64

In [34]:
scientists['Age'].mean()

49.0

In [35]:
scientists['Age'].max()

61

In [37]:
scientists['Age'].min()

37

In [36]:
scientists['Age'].std()

16.97056274847714

# 시리즈와 불린 추출 사용하기

In [38]:
scientists= pd.read_csv('../data/scientists.csv')

In [42]:
ages = scientists['Age']
print(ages.max())

90

In [43]:
print(ages.mean())

59.125

In [44]:
print(ages[ages>ages.mean()])

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [46]:
manual_bool_values = [True,True,False,False,True,True,False,True]
print(ages[manual_bool_values])

0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

# 시리즈와 브로드캐스팅

In [47]:
print(ages+ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [48]:
print(ages+100)

0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64

In [51]:
print(ages+pd.Series([1,0]))

0    38.0
1    61.0
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
dtype: float64

print(ages.sort_index(acending=False))

# 데이터프레임과 불린 추출

# 데이터프레임과 브로드캐스팅

# 열의 자료형 바꾸기와 새로운 열 추가하기

# 시리즈, 데이터프레임의 데이터 섞어보기

# 데이터프레임의 열 삭제하기

# 피클 형식으로 저장하기

# CSV 불러오기