# 갭마인더 데이터 집합 불러오기

In [2]:
import pandas as pd
df = pd.read_csv('../data/gapminder.tsv',sep='\t')

# 불러온 데이터 집합 살펴보기

In [5]:
print(df.head())

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [8]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [9]:
print(df.shape)

(1704, 6)

In [10]:
print(df.columns)

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [11]:
print(df.dtypes)

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [12]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
country      1704 non-null object
continent    1704 non-null object
year         1704 non-null int64
lifeExp      1704 non-null float64
pop          1704 non-null int64
gdpPercap    1704 non-null float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB
None

# 열 단위로 데이터 추출하기

In [13]:
country_df = df['country']

In [18]:
type(country_df)

pandas.core.series.Series

In [14]:
country_df.head()

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

In [15]:
country_df.tail()

1699    Zimbabwe
1700    Zimbabwe
1701    Zimbabwe
1702    Zimbabwe
1703    Zimbabwe
Name: country, dtype: object

In [19]:
subset = df[['country','continent','year']]

In [20]:
print(type(subset))

<class 'pandas.core.frame.DataFrame'>

In [21]:
subset.tail()

       country continent  year
1699  Zimbabwe    Africa  1987
1700  Zimbabwe    Africa  1992
1701  Zimbabwe    Africa  1997
1702  Zimbabwe    Africa  2002
1703  Zimbabwe    Africa  2007

# loc 속성으로 행 단위 데이터 추출하기

In [26]:
print(df.loc[0])

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap        779.445
Name: 0, dtype: object

In [30]:
number_of_rows = df.shape[0]

In [31]:
last_row_index = number_of_rows - 1

In [32]:
print(df.loc[last_row_index])

country      Zimbabwe
continent      Africa
year             2007
lifeExp        43.487
pop          12311143
gdpPercap     469.709
Name: 1703, dtype: object

In [34]:
print(df.tail(n=1))

       country continent  year  lifeExp       pop   gdpPercap
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [35]:
print(df.loc[[9,99,999]])

         country continent  year  lifeExp       pop    gdpPercap
9    Afghanistan      Asia  1997   41.763  22227415   635.341351
99    Bangladesh      Asia  1967   43.453  62821884   721.186086
999     Mongolia      Asia  1967   51.253   1149500  1226.041130

# tail과 loc는 조금 달라요!

In [37]:
type(df.tail())

pandas.core.frame.DataFrame

In [38]:
type(df.loc[0])

pandas.core.series.Series

# iloc 속성으로 행 단위 데이터 추출하기

In [39]:
print(df.iloc[1])

country      Afghanistan
continent           Asia
year                1957
lifeExp           30.332
pop              9240934
gdpPercap        820.853
Name: 1, dtype: object

In [40]:
print(df.iloc[99])

country      Bangladesh
continent          Asia
year               1967
lifeExp          43.453
pop            62821884
gdpPercap       721.186
Name: 99, dtype: object

In [41]:
print(df.iloc[[9,99,999]])

         country continent  year  lifeExp       pop    gdpPercap
9    Afghanistan      Asia  1997   41.763  22227415   635.341351
99    Bangladesh      Asia  1967   43.453  62821884   721.186086
999     Mongolia      Asia  1967   51.253   1149500  1226.041130

# 파이썬 슬라이싱 구문을 조합하여 원하는 데이터 추출하기

In [46]:
subset= df.loc[:,['year']]
print(subset.tail())

      year
1699  1987
1700  1992
1701  1997
1702  2002
1703  2007

# iloc 속성과 range 메서드로 원하는 데이터 추출하기

# 열 지정값에 파이썬 슬라이싱을 사용하여 원하는 데이터 추출하기

# loc, iloc 자유자재로 사용하기

# 그룹화한 데이터의 평균 구하기

# 그룹화한 데이터의 개수 세어보기

# 그래프 만들기